[Desktop Entry]
Name=Mages
Comment=Experimental Matrix chat client
MimeType=x-scheme-handler/matrix;
Exec=mages %U
Icon=io.github.mlm_games.mages
Terminal=false
Type=Application
Categories=Network;InstantMessaging;Chat;
Keywords=matrix;chat;messenger;encrypted;e2ee;
StartupNotify=true
StartupWMClass=Mages
